.header {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 30px;
}

.done {
  text-align: center;
  padding-top: 20px;
}

.hidden {
  display: none;
}

.post-answer {
  text-align: center;
}
